* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Terminus, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: #000000;
    border-bottom: 3px solid #FF8503;
    color: #FF8503;
    transition-property: background-color;
    transition-duration: .5s;
    margin-bottom: 3px;
}
/*
window#waybar.hidden {
    opacity: 0.2;
}
*/
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
/*
window#waybar.termite {
    background-color: #700E01;
}
*/
window#waybar.chromium {
    border:		none;
}

#workspaces button {
    border-left:      3px solid #000000;
    border-top:       3px solid #000000;
    border-right:     3px solid #000000;
    padding:	      0 5px;
    background-color: #000000;
    color:            #FF8503;
    border-radius:    0;
    margin-bottom:    3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    box-shadow:	      inherit;
    text-shadow:      inherit;
    background:       #000000;
    color:	      #FF8503;
}

#workspaces button.focused {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    background:       #FF8503;
    color:            #000000;
}
#workspaces button.focused:hover {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    box-shadow:	      inherit;
    text-shadow:      inherit;
    background:       #000000;
    color:            #FF8503;
}

#workspaces button.urgent {
    border-left:      3px solid #FF0000;
    border-top:       3px solid #FF0000;
    border-right:     3px solid #FF0000;
    background:       #FF0000;
    color:            #000000;
}

#workspaces button.urgent:hover {
    border-left:      3px solid #FF0000;
    border-top:       3px solid #FF0000;
    border-right:     3px solid #FF0000;
    padding:	      0 5px;
    box-shadow:	      inherit;
    text-shadow:      inherit;
    background:       #000000;
    color:            #FF0000;
}

#mode {
    background:       #FF8503;
    color:            #000000;
    border-bottom:    3px solid #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin-bottom: 3px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background:       #000000;
    color:            #FF8503;
}

#battery {
    background:       #000000;
    color:            #FF8503;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background:       #000000;
    color:            #FF8503;
    margin-right:     30px;
}

#cpu {
    background:       #000000;
    color:            #FF8503;
}

#memory {
    background:       #000000;
    color:            #FF8503;
}

#disk {
    background:       #000000;
    color:            #FF8503;
}

#backlight {
    background:       #000000;
    color:            #FF8503;
}

#network {
    background:       #000000;
    color:            #FF8503;
}

#network.disconnected {
    background-color: #FF0000;
}

#pulseaudio {
    background:       #000000;
    color:            #FF8503;
}

#pulseaudio.muted {
    background:       #000000;
    color:            #FF8503;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background:       #000000;
    color:            #FF8503;
}

#idle_inhibitor {
    background:       #000000;
    color:            #FF8503;
}

#idle_inhibitor.activated {
    background:       #FF8503;
    color:            #000000;
}

#mpd {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    background:       #FF8503;
    color:            #000000;
}

#mpd.disconnected {
    border-left:      3px solid #000000;
    border-top:       3px solid #000000;
    border-right:     3px solid #000000;
    background:       #000000;
    color:            #FF8503;
}

#mpd.stopped {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    background:       #000000;
    color:            #FF8503;
}

#mpd.paused {
    border-left:      3px solid #FF8503;
    border-top:       3px solid #FF8503;
    border-right:     3px solid #FF8503;
    background:       #000000;
    color:            #FF8503;
}

#language {
    padding: 0 5px;
    min-width: 16px;
    padding:	      0 5px;
    background:       #FF8503;
    color:            #000000;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
